{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.10.0"
        },
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
